@model WebProject.ViewModels.Homepage
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="slide_main">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1" />
            <input type="radio" name="radio-btn" id="radio2" />
            <input type="radio" name="radio-btn" id="radio3" />

            @for (int i = 0; i < Model.Featured.Count; i++)
            {
                var movie = Model.Featured[i];
                <div class="slide @(i == 0 ? "first" : "")">
                    <div class="movietext">
                        <div class="movietitle">
                            <h1>@movie.title</h1>
                        </div>
                        <div class="moviedesc">
                            <p>@movie.description</p>
                        </div>
                        <div class="moviedet">
                            <div class="moviedirector">
                                <p>Director: @movie.director</p>
                            </div>
                            <div class="movietimeandrate">
                                <h4><img src="@Url.Content("~/images/time.png")" alt="" class="tiny-image" />@movie.duration minutes</h4>
                                <h4><img src="@Url.Content("~/images/imdb.png")" alt="" class="tiny-image" />@movie.imdb</h4>
                            </div>
                            <div class="movieinspect">
                                <a href="@Url.Action("Inspect", "Movies", new { id = movie.MovieID })">Inspect</a>
                            </div>
                        </div>
                    </div>
                    <img src="@Url.Content("~/images/" + movie.movieBanner)" alt="@movie.title" />
                </div>
            }
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>
        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
    </div>
</div>

<div class="ontheater">
    <a href="@Url.Action("OnTheaters","Movies")" class="carousel-text">On Theaters</a>
    <div class="carousel">
        <div class="carousel_container" id="carousel_cont">
            @foreach (var movie in Model.OnTheaters)
            {
                <div class="carousel_item">
                    <a href="@Url.Action("Inspect", "Movies", new { id = movie.MovieID })"><img src="@Url.Content("~/images/" + movie.movieImg)" alt="@movie.title" /></a>
                    <div class="carousel-item-hover">
                        <p class="bannerimdb"><img src="@Url.Content("~/images/imdb.png")" alt="" class="tiny-image" />  @movie.imdb</p>
                        <a href="@Url.Action("SelectTicket", "BuyTicket", new { movieId = movie.MovieID })" class="bannerbutton buybutton">Buy Ticket</a>
                        <a href="@Url.Action("Inspect", "Movies", new { id = movie.MovieID })" class="bannerbutton inspectbutton">Inspect</a>
                    </div>
                </div>
            }
        </div>

        <button class="carousel_prev" id="carousel_previous_button">
            &lt;
        </button>
        <button class="carousel_next" id="carousel_next_button">&gt;</button>
    </div>
</div>

<div class="upcoming">
    <a href="@Url.Action("Upcoming","Movies")" class="carousel-text">Upcoming Movies</a>
    <div class="carousel">
        <div class="carousel_container" id="upcoming_carousel_cont">
            @foreach (var movie in Model.Upcoming)
            {
                <div class="carousel_item">
                    <img src="@Url.Content("~/images/" + movie.movieImg)" alt="@movie.title" />
                    <div class="carousel-item-hover">
                        <p class="bannerimdb">@movie.imdb</p>
                        <a href="@Url.Action("Inspect", "Movies", new { id = movie.MovieID })" class="bannerbutton inspectbutton">Inspect</a>
                    </div>
                </div>
            }
        </div>

        <button class="carousel_prev" id="upcoming_carousel_previous_button">
            &lt;
        </button>
        <button class="carousel_next" id="upcoming_carousel_next_button">
            &gt;
        </button>
    </div>
</div>



<script src="@Url.Content("~/Scripts/script.js")"></script>


