@model WebProject.ViewModels.SelectSeat

<div class="content-wrapper">
    <div class="select-seat-page">
        <!-- Theater Layout -->
        <div class="theater">
            <!-- Curtain for Aesthetic -->
            <div class="curtain">
                <div class="curtain-line"></div>
            </div>
            <!-- Seats Layout -->
            <div class="seats">
                @for (int row = 0; row < Model.TheaterLayout.NumberOfRows; row++)
                {
                    <div class="row">
                        @for (int seatNum = 1; seatNum <= Model.TheaterLayout.SeatsPerRow; seatNum++)
                        {
                            string seatId = $"{(char)('A' + row)}{seatNum}";
                            <span class="seat" data-seat-id="@seatId">@seatId</span>
                        }
                    </div>
                }
                <!-- Legend for Seat States -->
                <div class="example-seat">
                    <h3>Empty Seats</h3>
                    <span class="seat"></span>
                    <h3>Occupied Seats</h3>
                    <span class="seat occupied"></span>
                    <h3>Selected Seats</h3>
                    <span class="seat selected"></span>
                </div>
                <!-- Continue Button -->
                <button class="select-seat-confirmation" id="continue-button" disabled>Continue</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
         console.log('@Model.TotalQuantity');
         window.showtimeData = {
            showtimeId: @Model.ShowtimeId,
            totalQuantity: @Model.TotalQuantity,
            theaterLayoutId: @Model.TheaterLayout.TheaterLayoutID,
            ticketTypeIds: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TicketTypeIds)),
            ticketQuantities: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TicketQuantities)),
            totalPrice: @Model.TotalPrice,
            occupiedSeats: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.OccupiedSeats)),
        };
    </script>
    <script src="@Url.Content("~/Scripts/seatselect.js")"></script>
}
