@model WebProject.ViewModels.SelectSeat

<div class="content-wrapper">
    <div class="select-seat-page">
        <div class="theater">
            <div class="curtain">
                <div class="curtain-line"></div>
            </div>
            <div class="seats">
                @for (int row = 0; row < Model.TheaterLayout.NumberOfRows; row++)
                {
                    <div class="row">
                        @for (int seatNum = 1; seatNum <= Model.TheaterLayout.SeatsPerRow; seatNum++)
                        {
                            string seatId = $"{(char)('A' + row)}{seatNum}";
                            <span class="seat" data-seat-id="@seatId">@seatId</span>
                        }
                    </div>
                }
                <div class="example-seat">
                    <h3>Empty Seats</h3>
                    <span class="seat"></span>
                    <h3>Occupied Seats</h3>
                    <span class="seat occupied"></span>
                    <h3>Selected Seats</h3>
                    <span class="seat selected"></span>
                </div>
                <button class="select-seat-confirmation" disabled>Continue</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Global object to hold data for the JavaScript file
        window.showtimeData = {
            showtimeId: @Model.ShowtimeId,
            ticketQuantities: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TicketQuantities)),
            occupiedSeats: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.OccupiedSeats))
        };
    </script>
    <script src="@Url.Content("~/Scripts/seatselect.js")"></script>
}